<style>

.random-selector {
	background: transparent;
}

/*color overwriting second section*/
.hp-table>:nth-child(2)> .message .wrapper .widget_content .readMore {
       border-color: white !important;
       color: white !important;
   
   }

 .hp-table>:nth-child(2) .message .wrapper .widget_content.message_format div {
		   color: white !important;
		   max-width: 600px !important;
       }
	   
	   
 .hp-table>:nth-child(2) [class*=widget-] .widget_header.widget_header h5 {
	 color: white !important;
 }
 
.hp-table>:nth-child(2) {
background: rgb(149,127,181) !important;
background: linear-gradient(90deg, rgba(149,127,181,1) 0%, rgba(242,135,183,1) 100%) !important;
}


/*color overwriting fourth section*/

.hp-table>:nth-child(4) {
background: rgb(255,204,70) !important;
background: linear-gradient(90deg, rgba(255,204,70,1) 0%, rgba(249,165,113,1) 100%) !important;
}

 .hp-table>:nth-child(4) .icon .widget_content .item .title a {
		   color: white !important;
       }
	   
	   
 .hp-table>:nth-child(4) [class*=widget-] .widget_header.widget_header h5 {
	 color: white !important;
 }


/*color overwriting seventh section*/
.hp-table>:nth-child(7)> .message .wrapper .widget_content .readMore {
       border-color: white !important;
       color: white !important;
   
}	   
	   
 .hp-table>:nth-child(7) [class*=widget-] .widget_header.widget_header h5 {
	 color: white !important;
 }
 
.hp-table>:nth-child(7) {
background: rgb(149,127,181) !important;
background: linear-gradient(90deg, rgba(149,127,181,1) 0%, rgba(242,135,183,1) 100%) !important;
}


/*images full width (icon section)*/

.hp-table>:nth-child(3) .icon .widget_content .item .icon img {
    width: 100% !important;
}


#BodyContainer #co_content_container>.clearfix>.g960:not(.categorized) .article-header .breadcrumbs .breadcrumbs__crumb {
color: white !important;
}

@media screen and (min-width: 600px) {
 
#BodyContainer #co_content_container>.clearfix>.g960:not(.categorized) {
background-repeat: no-repeat !important;
background-position: bottom center !important;
height: 500px !important;
}
}

@media screen and (max-width: 480px) {
#BodyContainer #co_content_container>.clearfix>.g960:not(.categorized) .article-header .article-header__title {
margin-top: -10vh !important;
}
}

#co_content_container > div > div.master-content-wrapper.g960 {
background-color: transparent !important;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media (min-width: 481px) {
 .hp-table .hp-row-first .promo_slider .slider .slides .slide_wrapper{
content: " ";
    width: 100%;
    height: 100%;
background-image: url("https://w2.chabad.org/media/images/1181/GQGe11810836.png") !important;
background-size: cover;
background-position: center center;
background-color: transparent !important;
   opacity: 100 !important;
}
}


@media (max-width: 480px) {
 .hp-table .hp-row-first .promo_slider .slider .slides .slide_wrapper{
content: " ";
    width: 100%;
    height: 100%;
background-image: url("https://w2.chabad.org/media/images/1184/KOwx11849263.png") !important;
background-size: cover;
background-position: center center;
background-color: transparent !important;
   opacity: 100 !important;
}
}


.hp-table>:not(:first-child) .promo_slider .cycle-directionNav a:before {
	color: white !important;
}

 .hp-table .hp-row .promo_slider .slider .cycle-caption p big  {
   color: white !important;
font-family: Quicksand, sans-serif !important;
   }


.sneak-peek-container .sneak_peek .widget_content h6:hover {
    background: rgba(16,171,188, 0.6);
}


div.sneak-peek-item.item-1::after {
content: "CHAGIM"
}

div.sneak-peek-item.item-2::after {
content: "CREATIVE"
}

div.sneak-peek-item.item-3::after {
content: "LOVE & CARE"
}

div.sneak-peek-item.item-4::after {
content: "QUALITY & INSPIRATION"
}

div.sneak-peek-item.item-5::after {
content: "HEBREW"
}


div.sneak-peek-item.item-6::after {
content: "JEWISH HERITAGE"
}




   .hp-table .hp-row-first .promo_slider .slider .slides .slide_wrapper a, .hp-table .hp-row-first .promo_slider .slider .slides .slide_wrapper img {
   background-color: transparent !important;
   }
   

    .hp-table .hp-row-first .promo_slider .slider .slides .slide_wrapper{
     background-color: transparent !important;
       }



#BodyContainer > div > div.g960 > div > div.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.no_margin.g960.no_margin > div > div:nth-child(4) > div > div > div.widget_content.index_format > div.item.first.clearfix > div.icon > img{
width: 200px !important;
}

#BodyContainer > div > div.g960 > div > div.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.no_margin.g960.no_margin > div > div:nth-child(4) > div > div > div.widget_content.index_format > div:nth-child(3) > div.icon > img{
width: 200px !important;
}

#BodyContainer > div > div.g960 > div > div.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.no_margin.g960.no_margin > div > div:nth-child(4) > div > div > div.widget_content.index_format > div:nth-child(5) > div.icon > img {
width: 200px !important; 
}

#BodyContainer > div > div.g960 > div > div.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.no_margin.g960.no_margin > div > div:nth-child(4) > div > div > div.widget_content.index_format > div.item.last.clearfix > div.icon > img {
width: 200px !important; 
}


.sneak-peek-container .sneak_peek .thumbnail {
background-color: transparent;
}

   .clearfix-links, #header_container .links a, #header_container .topBarLink a, #header_container .links .topBarLink, #header_container .links .topBarLink a {
   color: #10abbc !important;
   }

   @media (max-width: 1024px) {
   .cs-mobile-menu-open {
   color: #10abbc !important;
   }

.site-nav-wrapper {
   background: #10abbc !important;
   }
   }
   

   #header {
   background: white !important;
   }
   @media (min-width: 1025px) {
   
   body.cco_body #tabContentMain .co_menu_item span.parent a{
   color: #10abbc;
   }


   }


   

   #tabContentMain .co_menu_item.multi_level:before {
       top: 70px;
       content: " ";
       border-bottom: 8px solid #10abbc;
   }
   
   body.cco_body #tabContentMain .co_menu_item.multi_level .co_submenu_container {
       top: 0;
       border-top-width: 2px;
       border-top-style: solid;
       border-top-color: #10abbc;
   }
   
   body.cco_body #tabContentMain .co_menu_item.selected a.parent:after {
       content: "";
       display: block;
       position: absolute;
       left: 50%;
       transform: translateX(-50%);
       bottom: -4px;
       width: 100%;
       height: 2px;
       background: #10abbc;
   }
   
   .hp-table .hp-row-first .promo_slider .slider .slides .slide_wrapper a {
   color: #10abbc !important;
   }
   
   .footer-title {
   color: #f18950 !important;
   }
   
   .widget_content .item .icon img {
   filter: none !important;
   }
   
   .hp_content_wrapper .readMore:hover {
   background: #10abbc !important;
   color: white !important;
   }
   
   body.cco_body #tabContentMain .co_menu_item.hover span.parent a {
   color: #f18950 !important;
   }
   
   
   #BodyContainer .no-hero-image #co_content_container .master-content-wrapper.master-content-wrapper .article-header .article-header__title, body:not(.home) .cs-mobile-menu-open, .hp_content_wrapper [class*=widget-].candlelighting .candlelighting_content .times_wrapper .bold.large, [class^=widget-].candlelighting a, .hp_content_wrapper [class^=widget-].parsha .widget_content .title span, .hp_content_wrapper .readMore {
   color: #10abbc !important;
   }
   .hp_content_wrapper .readMore{
   border-color: #10abbc !important;
   }
   
   .hp_subscribe .wrapper #formContainer fieldset input[type=submit]:hover {
   background:  #9480b6 !important; 
   }
   
   .hp_subscribe .wrapper #formContainer fieldset input[type=submit] {
   border-color: #9480b6 !important; 
   }
   
   
   .home .cs-f-social-icons a {
   color: white !important;
   }
   
   #footer .footer_text .footer3 {
   color: white !important;
   }
   
   #footer  {
   background-color: #9480b6 !important;
   }
   .branding-search #header_branding .site_title {
   color: #10abbc !important;
   }
   
   

   
   body.cco_body #tabContentMain .co_menu_item.donate_link span.parent a {
   border-color: #9480b6 !important;
   }
   
   

   
   .hp-table .hp-row .promo_slider .slider .cycle-caption .readMore {
       border-color: transparent !important;
   background: transparent !important;
   color: #7d61a7  !important;
   }
   .hp-row .message .wrapper .widget_content .readMore:hover, .hp-table .hp-row .promo_slider .slider .cycle-caption .readMore:hover {
       border-color: #7d61a7 !important;
     }
   
   .hp-row .message .wrapper .widget_content .readMore:hover {
       border-color: #7d61a7 !important;
       color: #ffffff !important;
   background-color: #7d61a7 !important;
   }
   
   
   .hp-row .message .wrapper .widget_content .readMore {
       border-color: #7d61a7 !important;
       color: #7d61a7 !important;
   
   }
   
   
   
   
   .hp_subscribe .wrapper .widget_header h5 {
   color: white !important;
   }
   
   .branding-search #header_branding .site_title,  .chabad_updates .widget_header.widget_header h5, [class*=widget-] .widget_header.widget_header h5, .header-title {
       color: #f18950;
   font-family: Quicksand, sans-serif; 
   font-weight: 600;
   }
   #footer .footer_text a, .footer_inner_container {
       color: #0000;
   }
   

/*]]>*/
</style>

<style type="text/css">
/*<![CDATA[*/
       /*Makes custom Learning and Inspiration section mobile friendly */
   
       @media only screen and (max-device-width: 480px) {

.hp-table .hp-row-first .promo_slider .slider .slides .slide_wrapper{
content: " ";
    width: 100%;
    height: 100%;
background-image: url("https://lamdeni.org/media/images/1181/CdbM11814106.png") !important;
background-size: cover;
background-position: center center;
background-color: transparent !important;
   opacity: 100 !important;
}

 .widget-4 .slide_wrapper img {
            background-size: contain !important;
        }

   
           .hp-row {
               padding: 30px 10px;
           }
   
           #BodyContainer>div>div.g960>div>div.no_margin.g960.no_margin>div>div:nth-child(2)>div>div>div>div.header-title {
               margin: 0px!important;
           }
   
       }

     
@media only screen and (min-device-width: 769px) {

 body.cco_body #header.on-scroll #tabContentMain .co_menu_item span.parent a {
   color: #10abbc;
   text-shadow: 0px 0px 0px !important;
   }



   item span.parent a, body #header.on-scroll #tabContentMain .co_menu_item.arrow .co_submenu_container a.item, body #header.on-scroll #tabContentMain .co_menu_item.arrow .co_submenu_container a.item span, body #header.on-scroll .cco_body #tabContentMain .donate_link, body #header.on-scroll body #tabContentMain .co_menu_item span.parent, body #header.on-scroll body #tabContentMain .co_menu_item span.parent a, body #header.on-scroll body #tabContentMain .co_menu_item.hover span.parent, body #header.on-scroll body #tabContentMain .co_menu_item.hover span.parent a, body #header.on-scroll body.cco_body #tabContentMain .co_menu_item span.parent, body #header.on-scroll body.cco_body #tabContentMain .co_menu_item span.parent a, body #header.on-scroll body.cco_body #tabContentMain .co_menu_item.hover span.parent, body #header.on-scroll body.cco_body #tabContentMain .co_menu_item.hover span.parent a, body #header.on-scroll body.cco_body #tabContentMain .co_submenu_container .co_column a, body.cco_body #header.on-scroll #tabContentMain .co_menu_item span.parent, body.cco_body #header.on-scroll #tabContentMain .co_menu_item span.parent a, body.cco_body #header.on-scroll #tabContentMain .co_menu_item.arrow .co_submenu_container a.item, body.cco_body #header.on-scroll #tabContentMain .co_menu_item.arrow .co_submenu_container a.item span, body.cco_body #header.on-scroll #tabContentMain .co_menu_item.hover span.parent, body.cco_body #header.on-scroll #tabContentMain .co_menu_item.hover span.parent a, body.cco_body #header.on-scroll #tabContentMain .co_submenu_container .co_column a, body.cco_body #header.on-scroll #tabContentMain .donate_link, body.cco_body.sites-article #tabContentMain .co_menu_item span.parent, body.cco_body.sites-article #tabContentMain .co_menu_item span.parent a, body.cco_body.sites-article #tabContentMain .co_menu_item.arrow .co_submenu_container a.item, body.cco_body.sites-article #tabContentMain .co_menu_item.arrow .co_submenu_container a.item span, body.cco_body.sites-article #tabContentMain .co_menu_item.hover span.parent, body.cco_body.sites-article #tabContentMain .co_menu_item.hover span.parent a, body.cco_body.sites-article #tabContentMain .co_submenu_container .co_column a, body.cco_body.sites-article #tabContentMain .donate_link, body.sites-article #tabContentMain .co_menu_item.arrow .co_submenu_container a.item, body.sites-article #tabContentMain .co_menu_item.arrow .co_submenu_container a.item span, body.sites-article .cco_body #tabContentMain .donate_link, body.sites-article body #tabContentMain .co_menu_item span.parent, body.sites-article body #tabContentMain .co_menu_item span.parent a, body.sites-article body #tabContentMain .co_menu_item.hover span.parent, body.sites-article body #tabContentMain .co_menu_item.hover span.parent a, body.sites-article body.cco_body #tabContentMain .co_menu_item span.parent, body.sites-article body.cco_body #tabContentMain .co_menu_item span.parent a, body.sites-article body.cco_body #tabContentMain .co_menu_item.hover span.parent, body.sites-article body.cco_body #tabContentMain .co_menu_item.hover span.parent a, body.sites-article body.cco_body #tabContentMain .co_submenu_container .co_column a {
   color: #10abbc !important;
   }
}

   
/*]]>*/
</style>
<link rel="icon" type="image/png" href="/media/images/1124/Hkma11246200.png" /><!--<style>
       @media only screen and (min-width: 600px) {
   
           .chabad_updates .widget_header.widget_header h5,
           [class*=widget-] .widget_header.widget_header h5 {
               width: 775px;
               padding-left: 23%;
           }
       }
   
   </style>
   <style>
       .slide_wrapper {
           background-color: #D3D3D3 !important;
       }
   
       #BodyContainer #co_content_container>.clearfix>.g960:not(.categorized) {
           background-color: transparent !important;
       }
   
   </style>
   
   <style type="text/css">-->


<script type="text/javascript">
//<![CDATA[
           document.addEventListener('DOMContentLoaded', () => {
   document.getElementsByClassName("home_link")[0].innerHTML = "Our Affiliate Organisations";
   
   document.getElementsByClassName("about_link")[0].innerHTML = "Hamerkaz Shelanu".link('https://www.hamerkazshelanu.com.au'); 
   
   document.getElementsByClassName("contact_link")[0].innerHTML = "Kateeny".link('https://www.kateeny.org.au'); 

 
 
   });
//]]>
</script>